
* {
    padding: 0;
    margin: 0;
  
}
.logo{
  width:5%;
  text-align:center;
}
.nav{
  width:100%;
}
.right_nav{
  width:18%;
}
ul{
  list-style:none;
}
.sign_in a{
  color:white;
  float:left;
  border: 1px solid darkorange;
  background-color: darkorange;
  padding: 5px 30px;
border-radius: 20px;
  
}
.sign_up a{
  color:white;
  float:right;
  border: 1px solid darkorange;
  background-color: darkorange;
  padding: 5px 30px;
border-radius: 20px;
}
.left_nav{
  width:70%;
}
.search_nav{
 width:28%;
float:left;
}

 .button_header {
      width:15%;
      border-radius: 20px;
      border: 1px solid darkorange;
      background-color: darkorange;
      color: #FFFFFF;
      font-size: 15px;
      font-weight: bold;
      padding: 5px 30px;
      letter-spacing: 1px;
      transition: transform 80ms ease-in;
  }

.container{
  margin-top:3%;
  width:100%;
  height:10s00px;
}
.quiz_card{
  height:100 px;
  padding:3%;
  border: 1px solid black;
  margin:1%;
text-align:center;
}
.quiz_card:hover{
  border-color: orange;
  color:orange;
  
}
.user_quizzes{
  width:100%;
  height:300px;
  background-color:green;
}

.footer{
  margin-top:5%;
  padding:5%;
  width:100%;
  height:auto;
  text-align:center;
  background-color:#f8f9fa;
}


